In [2]:
# import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [C:\Users\James\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

## Visit the NASA mars news site

In [4]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [5]:
html = browser.html
news_soup = soup(html, "html.parser")

In [6]:
# get the news title
title = news_soup.select_one("div.list_text").find("div", class_="content_title").get_text()

# get the paragraph
paragraph = news_soup.select_one("div.list_text").find("div", class_="article_teaser_body").get_text()

In [7]:
# print title and paragraph
print(f"{title}\n\n{paragraph}")

How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus

Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.

## JPL Space Images Featured Image

In [8]:
url = "https://spaceimages-mars.com/"
browser.visit(url)

bsobject = soup(browser.html, "html.parser")

In [9]:
image = bsobject.find("img", class_="headerimage fade-in")["src"]
image_url = url + image
image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

## Mars Facts

In [10]:
mars_df = pd.read_html("https://galaxyfacts-mars.com")[0]
print(mars_df.shape)
mars_df.head()

(7, 3)

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [11]:
# rename columns
mars_df.columns=['Description', 'Mars', 'Earth']
# drop index
mars_df.set_index('Description', inplace=True)
mars_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [12]:
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Hemispheres

In [13]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [14]:
image_urls = []

# https://splinter.readthedocs.io/en/latest/finding.html
# allows us to only target links on a webpage

links = browser.find_by_css("a.product-item img")


for link in range(len(links)):
    hemisphere = {}
    
    # click on image, get ref
    browser.find_by_css("a.product-item img")[link].click()
    sample_elem = browser.links.find_by_text("Sample").first
    hemisphere["img"] = sample_elem["href"]
    
    # get the title and append to list
    hemisphere["title"] = browser.find_by_css("h2.title").text
    image_urls.append(hemisphere)
    
    # .back() so loop does not fail
    browser.back()

In [15]:
image_urls

[{'img': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]